useDynLib(HiGarrote, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(RcppArmadillo)
import(nloptr)
import(quadprog)
importFrom("stats", "contrasts<-", "dist", "model.matrix", "poly", "var", "lm")
export(HiGarrote)
export(nnGarrote)